layout python3
# Path
export DIRENV_TMP_DIR="${PWD}/.direnv"
export DIRENV_BIN_DIR="${DIRENV_TMP_DIR}/bin"
if [ ! -e "${DIRENV_BIN_DIR}" ]; then
    mkdir -p "${DIRENV_BIN_DIR}"
fi
export PATH="${DIRENV_BIN_DIR}:${PATH}"
# Ansible
export ANSIBLE_STDOUT_CALLBACK="ansible.posix.debug"
export ANSIBLE_INVENTORY="ansible/inventory"
export ANSIBLE_FORKS="10"
export ANSIBLE_ROLES_PATH="ansible/roles"
export ANSIBLE_COLLECTIONS_PATHS="${DIRENV_TMP_DIR}"
export ANSIBLE_CALLBACKS_ENABLED="timer,profile_tasks"
export ANSIBLE_HOST_KEY_CHECKING=false
# Terraform
TF_VERSION="1.1.8"
TF_ARCH="linux_amd64"
TF_PKG_NAME="terraform_${TF_VERSION}_${TF_ARCH}.zip"
TF_PKG_URL="https://releases.hashicorp.com/terraform/${TF_VERSION}/${TF_PKG_NAME}" 
TF_PKG_PATH="${DIRENV_TMP_DIR}/${TF_PKG_NAME}" 
if [ ! -e "${DIRENV_BIN_DIR}/terraform" ]; then
    echo "===> Getting terraform:${TF_VERSION}:${TF_ARCH} (can take a while to execute)"
    curl -s -L "${TF_PKG_URL}" -o "${TF_PKG_PATH}"
    unzip "${TF_PKG_PATH}" -d "${DIRENV_BIN_DIR}"
    chmod 700 "${DIRENV_BIN_DIR}/terraform"
    rm -f "${TF_PKG_PATH}"
fi
# Local config
LOCAL_CONFIG="${PWD}/.env.local"
if [ -e "${LOCAL_CONFIG}" ]; then
  source "${LOCAL_CONFIG}"
fi
